@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Philosopher');

$headings-font-family: 'Cinzel Decorative', cursive;
$font-family-base: 'Merriweather', sans-serif;
@import '../../node_modules/bootstrap/scss/bootstrap';

.my-nav {
  font-family: $headings-font-family;
  font-size: 20px;
}
